datetime
pyjokes
requests
Pillow
Image
ImageGrab
gTTS
keyboard
key
playsound
pyttsx3
SpeechRecognition
openai
pynput
pyaudio
django>=4.2.21 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=78.1.1 # not directly required, pinned by Snyk to avoid a vulnerability
